<div class="m-3 row">
  <h3>合并交易记录列表</h3>
  <div class="mb-3 mt-3 col-5">
    <%= form_tag combine_transactions_path, id: "search_targets", class: "position-relative", method: "GET" do %>
      <div class="input-group mb-3 position-filter">
        <%= select_tag(:search, options_for_select(CombineTransaction.pluck(:original_symbol).uniq, @symbol), { prompt: '请选择币种...', class: 'select2-dropdown form-control' }) %>
        <%= select_tag(:source, options_for_select(CombineTransaction.pluck(:source).compact.uniq, params[:source]),{ prompt: '请选择来源...', class: 'select2-dropdown form-control', onchange: 'this.form.submit()' }) %>
        <button type="submit" class="btn btn-primary mx-3">确定</button>
        <%= link_to "Reset", combine_transactions_path, class: 'btn btn-warning' %>
      </div>
    <% end %>
  </div>
  <div>
    <div class="p-3">
      <p>总投入: <%= @total_summary[:total_cost].to_f.round(4) %> / 绝对盈利: <%= price_change_style @total_summary[:total_revenue].to_f.round(4) %> / 总ROI: <%= price_change_style @total_summary[:total_roi].round(2) %>%</p>
      <p>盈利总数量: <span class="pos-num"><%= @total_summary[:profit_count] %></span>  / 盈利总金额: <%= price_change_style @total_summary[:profit_amount].to_f.round(4) %> </p>
      <p>亏损总数量: <span class="neg-num"><%= @total_summary[:loss_count] %></span>  / 亏损总金额: <%= price_change_style @total_summary[:loss_amount].to_f.round(4) %> </p>
      <p>历史最高盈利: <%= price_change_style @total_summary[:max_profit].round(4) %> ( <%= @total_summary[:max_profit_date] %> ) / 历史最高亏损: <%= price_change_style @total_summary[:max_loss].round(4) %> ( <%= @total_summary[:max_loss_date] %> )</p>
      <p>历史最高盈利占总投入的比例: <%= price_change_style @total_summary[:max_profit_roi].round(4) %>% ( <%= @total_summary[:max_profit_roi_date] %> ) / 历史最高亏损占总投入的比例: <%= price_change_style @total_summary[:max_loss_roi].round(4) %>% ( <%= @total_summary[:max_loss_roi_date] %> )</p>
      <p>历史最高绝对收益: <%= price_change_style @total_summary[:max_revenue].round(4) %> ( <%= @total_summary[:max_revenue_date] %> ) / 历史最低绝对收益: <%= price_change_style @total_summary[:min_revenue].round(4) %> ( <%= @total_summary[:min_revenue_date] %> )</p>
      <p>历史最高绝对收益占总投入的比例: <%= price_change_style @total_summary[:max_roi].round(4) %>% ( <%= @total_summary[:max_roi_date] %> ) / 历史最低绝对收益占总投入的比例: <%= price_change_style @total_summary[:min_roi].round(4) %>% ( <%= @total_summary[:min_roi_date] %> )</p>
    </div>
  </div>
  <div id="trading-histories-container">
    <%= render partial: "list" %>
  </div>
</div>