<div class="m-3">
  <h2 class="mb-4 text-center">现货合并交易历史快照 - <%= @info.event_date.to_s %></h2>
  <div class="mb-3 col-6">
    <%= form_tag combine_tx_snapshot_info_path(@info), id: "search_targets", method: "GET" do %>
      <div class="input-group mb-3">
        <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "搜索交易对..." %>
        <button type="submit" class="btn btn-primary">确定</button>
        <%= link_to "Reset", combine_tx_snapshot_info_path(@info), class: 'btn btn-default' %>
      </div>
    <% end %>
  </div>
  <div>
    <div class="p-3">
      <p>总投入: <%= @total_summary[:total_cost].to_f.round(4) %> / 总盈利: <%= @total_summary[:total_revenue].to_f.round(4) %> </p>
      <p>盈利总数量: <%= @total_summary[:profit_count] %>  / 盈利总金额: <%= @total_summary[:profit_amount].to_f.round(4) %> </p>
      <p>亏损总数量: <%= @total_summary[:loss_count] %>  / 亏损总金额: <%= @total_summary[:loss_amount].to_f.round(4) %>  </p>
    </div>
  </div>
  <div id="position-histories-container">
    <%= render partial: "list" %>
  </div>
</div>