<table class="table">
  <thead>
    <tr class="table-container-tr">
      <% aggregate_tx_table_headers.each do |h| %>
        <% next if h[:sort].in?(['cost_ratio', 'roi', 'revenue_ratio']) %>
        <th scope="col">
          <%= "#{h[:name]}" %>
        </th>
      <% end %>
      <th>当前价相对于成本价的涨跌</th>
    </tr>
  </thead>
  <tbody>
    <% r[:txs].each do |h| %>
      <tr>
        <td><%= h[:symbol] %></td>
        <td data-bs-toggle="tooltip" title='<%= h[:price] %>'><%= h[:price].round(4) %> USDT</td>
        <td data-bs-toggle="tooltip" title='<%= h[:current_price] %>'><%= h[:current_price].round(4) %> USDT</td>
        <td><%= h[:qty].round(4) %></td>
        <td><%= h[:amount].round(4) %> USDT</td>
        <td><%= h[:percentage_24h].round(4) rescue nil %>%</td>
        <td><%= h[:percentage_7d].round(4) rescue nil %>%</td>
        <td class="<%= h[:revenue] > 0 ? 'pos-num' : 'neg-num' %>"><%= "#{h[:revenue].round(4)} USDT" %></td>
        <td class="<%= h[:margin_price] > 0 ? 'pos-num' : 'neg-num' %>"><%= h[:margin_price].round(4) %> USDT (<%= (h[:rate] * 100).round(2) %>%)</td>
      </tr>
    <% end %>
  </tbody>
</table>