<div class="m-3">
  <h3>原始交易记录列表</h3>
  <div class="mb-3 mt-3">
    <%= form_tag origin_transactions_path, id: "search_targets", class: "position-relative", method: "GET" do %>
      <div class="input-group mb-3 position-filter">
        <%= select_tag(:search, options_for_select(@total_txs.pluck(:original_symbol).uniq, @symbol), { prompt: '请选择币种...', class: 'select2-dropdown form-control' }) %>
        <span class='ms-3'></span>
        <%= select_tag(:campaign, options_for_select(@total_txs.pluck(:campaign).compact.uniq, @campaign),{ prompt: '请选择campaign...', class: 'select2-dropdown form-control' }) %>
        <span class='ms-3'></span>
        <%= select_tag(:trade_type, options_for_select([['买入', 'buy'], ['卖出', 'sell']], @trade_type),{ prompt: '请选择交易类别...', class: 'select2-dropdown form-control' }) %>
        <span class='ms-3'></span>
        <%= select_tag(:source, options_for_select(@total_txs.pluck(:source).compact.uniq, @source),{ prompt: '请选择来源...', class: 'select2-dropdown form-control' }) %>
        <span class='ms-3'></span>
        <%= text_field_tag :event_date, @event_date, class: "form-control datepicker",  type: "text", placeholder: "请选择交易日期", autocomplete: "off" %>
        <span class='ms-3'></span>
        <button type="submit" class="btn btn-primary mx-3">确定</button>
        <%= link_to "Reset", origin_transactions_path, class: 'btn btn-warning me-3' %>
        <%= link_to "Refresh", refresh_origin_transactions_path, class: 'btn btn-success' %>
      </div>
    <% end %>
  </div>
  <div>
    <div class="p-3">
      <p>总投入: <%= @total_summary[:total_cost].to_f.round(4) %> / 总盈利: <%= price_change_style @total_summary[:total_estimated_revenue].to_f.round(4) %> / 总ROI: <%= price_change_style ((@total_summary[:total_roi]) * 100).round(4) %>%</p>
      <p>盈利总数量: <span class="pos-num"><%= @total_summary[:profit_count] %></span>  / 盈利总金额: <%= price_change_style @total_summary[:profit_amount].to_f.round(4) %> </p>
      <p>亏损总数量: <span class="neg-num"><%= @total_summary[:loss_count] %></span>  / 亏损总金额: <%= price_change_style @total_summary[:loss_amount].to_f.round(4) %> </p>
      <p>历史最高盈利: <%= price_change_style @total_summary[:max_profit].round(4) %> ( <%= @total_summary[:max_profit_date] %> ) / 历史最高亏损: <%= price_change_style @total_summary[:max_loss].round(4) %> ( <%= @total_summary[:max_loss_date] %> )</p>
      <p>历史最高盈利占总投入的比例: <%= price_change_style @total_summary[:max_profit_roi].round(4) %>% ( <%= @total_summary[:max_profit_roi_date] %> ) / 历史最高亏损占总投入的比例: <%= price_change_style @total_summary[:max_loss_roi].round(4) %>% ( <%= @total_summary[:max_loss_roi_date] %> )</p>
      <p>历史最高绝对收益: <%= price_change_style @total_summary[:max_revenue].round(4) %> ( <%= @total_summary[:max_revenue_date] %> ) / 历史最低绝对收益: <%= price_change_style @total_summary[:min_revenue].round(4) %> ( <%= @total_summary[:min_revenue_date] %> )</p>
      <p>历史最高绝对收益占总投入的比例: <%= price_change_style @total_summary[:max_roi].round(4) %>% ( <%= @total_summary[:max_roi_date] %> ) / 历史最低绝对收益占总投入的比例: <%= price_change_style @total_summary[:min_roi].round(4) %>% ( <%= @total_summary[:min_roi_date] %> )</p>
    </div>
  </div>
  <div id="trading-histories-container">
    <%= render partial: "list", locals: { source_type: :public } %>
  </div>
</div>

<div id="transactions-campaign-modal">
</div>